:root {
  --default-font-family: "Rubik", sans-serif;
  --primary-font-family: "Jost", sans-serif;
  --primary-color: #334155;
  --secondary-color: #008080;
  --headings-color: #1e293b;
}

body {
  color: var(--primary-color);
  background: linear-gradient(120deg, #cee6f2 0%, #ebedee 100%);
  font-family: var(--default-font-family);
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}
h1,
h2,
h3,
h4,
h6 {
  font-weight: 500;
  font-family: var(--primary-font-family);
  color: var(--headings-color);
}
h1 {
  line-height: 43px;
  font-size: 36px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
.project-description {
  padding: 80px 60px 50px;
}
.header {
  display: flex;
  padding: 100px 20px 40px;
}
.header-content {
  margin-left: 40px;
}
.header-content h2 {
  margin: 30px 0 10px;
}

.projects {
  margin-left: 120px;
}
.btn-branding {
  padding: 15px 25px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  color: white;
  background: #6c63ff;
}
.btn-branding:hover {
  color: #6c63ff;
  border: 1px solid #6c63ff;
  transition: all 200ms ease-in-out;
}

.form {
  max-width: 50%;
  display: block;
  margin: 56px auto;
}
.introduction {
  margin: auto;
  width: 85%;
}
.introduction h1 {
  font-size: 24px;
}
.introduction p,
.skills p {
  line-height: 2;
}
.about h1,
.about h2,
.about h3,
.about h4,
.navbar-nav a.nav-link.active,
.navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}
.navbar-nav .nav-link {
  color: #1e2761;
  line-height: 36px;
  font-weight: 500;
}
.skills {
  width: 50%;
  margin: 80px auto;
  text-align: left;
}
.code-img {
  margin-right: 40px;
  width: 25%;
  float: left;
}
.screens-img {
  margin-left: 40px;
  float: right;
  width: 25%;
}
label {
  font-weight: 500;
  padding-bottom: 12px;
}
span {
  color: red;
}
#input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #bcbfc2;
  border-radius: 8px;
}
input .btn-branding {
  width: 25%;
}
textarea {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border-color: #bcbfc2;
}

@media (max-width: 640px) {
  .header {
    display: block;
    text-align: center;
    padding-top: 50px;
  }
  nav ul {
    margin: auto;
  }
  .projects {
    margin-left: 70px;
  }
  .project-description {
    text-align: center;
  }
  h6 {
    font-size: 14px;
  }
  .sender-details {
    display: block;
  }
}
@media (max-width: 767px) {
  .landing-page {
    margin-top: 50px;
  }
}
@media (max-width: 992px) {
  .project-description {
    padding-left: 0;
  }
  .skills h4,
  .skills p {
    text-align: center;
  }
  .skills {
    margin-bottom: 0;
  }
}
