:root {
  --default-font-family: "Rubik", sans-serif;
  --primary-font-family: "Jost", sans-serif;
  --primary-color: #334155;
  --secondary-color: #008080;
  --headings-color: #1e293b;
}

body {
  color: var(--primary-color);
  background: linear-gradient(120deg, #cee6f2 0%, #ebedee 100%);
  font-family: var(--default-font-family);
}

p {
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
  font-family: var(--primary-font-family);
  color: var(--headings-color);
}
h1 {
  line-height: 43px;
  font-size: 36px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
/* header */
.navbar-nav .nav-link {
  color: #1e2761;
  line-height: 36px;
  font-weight: 500;
}
.header {
  display: flex;
  padding: 100px 20px 40px;
}
.header-content {
  margin-left: 40px;
}
.header-content h2 {
  margin: 30px 0 10px;
}

/* projects page*/
.project-description {
  padding: 80px 60px 50px;
}
.projects {
  padding-left: 15px;
}
.btn-branding {
  padding: 15px 25px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  color: white;
  background: #6c63ff;
  transition: all 200ms ease-in-out;
}
.btn-branding:hover {
  color: #6c63ff;
  border: 1px solid #6c63ff;
}

/* footer */
footer .social-links a {
  margin: 0 30px;
}

/* contact page */
form {
  width: 60%;
  margin: 0 auto;
}
label {
  font-weight: 500;
  padding-bottom: 12px;
}
.sender-details {
  display: flex;
  justify-content: space-between;
}
form input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #bcbfc2;
  border-radius: 8px;
}

textarea {
  width: 100%;
  padding: 8px 12px;
  border-radius: 8px;
  border-color: #bcbfc2;
}

/* about page */
.introduction {
  margin: auto;
  width: 95%;
}
.introduction h1 {
  font-size: 24px;
}
.introduction p,
.skills p {
  line-height: 2;
}

.about h1,
.about h3,
.about h4,
.skills-set h3,
.icon:hover,
footer .social-links a:hover,
.navbar-nav a.nav-link.active,
.navbar-nav .nav-link:hover {
  color: var(--secondary-color);
}

.skills {
  width: 70%;
  margin: 80px auto;
  text-align: left;
}
.code-img {
  margin-right: 50px;
  width: 18%;
  float: left;
}
.screens-img {
  margin-left: 50px;
  float: right;
  width: 25%;
}

@media (max-width: 576px) {
  .custom-navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .custom-navbar li {
    padding: 0 10px;
  }
}

@media (max-width: 640px) {
  .header {
    display: block;
    text-align: center;
    padding-top: 50px;
  }
  .header-content {
    margin: 0;
  }
  nav ul {
    margin: auto;
  }

  h1.work-heading {
    font-size: 14px;
  }

  .landing-page {
    margin-top: 50px;
  }
}
@media (min-width: 640px) and (max-width: 767px) {
  .landing-page {
    margin-top: 50px;
  }
}

@media (max-width: 991px) {
  .skills h4,
  .skills p {
    text-align: center;
  }
  .skills {
    margin-bottom: 0;
  }
  .project-description {
    padding: 80px 0 50px;
    text-align: center;
  }
  .sender-details {
    display: block;
  }
}
